mixin form-tabs(tabs, active)
    .form-tabs.tabs
        ul.form-tabs-btns.tabs-nav
            each tab,index in tabs
                if active == index
                    - var cls = 'active'
                li(class=cls)
                    .form-tabs__icon
                        span(class="icon icon-" + tab.icon)
                    .form-tabs-title
                        .form-tabs-title__text  #{tab.name}
        ul.form-tabs-list.tabs-list
            block