mixin projects-tab(isArchive)
    - var meta = isArchive ? 'Ім\'я Фамілія, ВАТ "Фірма 1"б Ім\'я Фамілія 4, ВАТ "Фірма 3"' : {collected:'7 000',total:'19 000'}
    ul.projects-list
        +projects-item('Ad nisi occaecat anim consequat culpa in ad Lorem eiusmod id aliquip nisi irure. Ad nisi occaecat anim consequat culpa in ad Lorem eiusmod id aliquip nisi irure.','513', {date: '07.05.2017', meta:meta, active: true})
            | Deserunt aute occaecat laborum nostrud. Nulla non ad ex voluptate est cillum aliquip ex. Consectetur esse culpa reprehenderit eiusmod voluptate dolore cillum. Deserunt fugiat ullamco incididunt ut fugiat. Laboris irure labore occaecat mollit aliquip consequat labore laborum reprehenderit laborum ex. Deserunt aute occaecat laborum nostrud. Nulla non ad ex voluptate est cillum aliquip ex. Consectetur esse culpa reprehenderit eiusmod voluptate dolore cillum. Deserunt fugiat ullamco incididunt ut fugiat. Laboris irure labore occaecat mollit aliquip consequat labore laborum reprehenderit laborum ex. Deserunt aute occaecat laborum nostrud. Nulla non ad ex voluptate est cillum aliquip ex. Consectetur esse culpa reprehenderit eiusmod voluptate dolore cillum. Deserunt fugiat ullamco incididunt ut fugiat. Laboris irure labore occaecat mollit aliquip consequat labore laborum reprehenderit laborum ex.
        +projects-item('Irure pariatur ut non et dolore veniam deserunt sunt nostrud incididunt duis.','271',{date:'04.05.2017',meta:meta})
            | Anim sit aliquip labore est commodo enim pariatur ullamco exercitation cillum culpa pariatur in anim. Enim incididunt culpa tempor quis veniam pariatur pariatur sunt. Consequat voluptate commodo et irure duis occaecat qui id anim sunt in mollit.
        +projects-item('Elit elit incididunt culpa ipsum proident.','018',{date:'03.05.2017',meta:meta})
            | Lorem aliquip aute minim esse est commodo deserunt adipisicing magna. Pariatur voluptate sunt exercitation enim voluptate est. Proident nisi ut elit minim aute aliquip eu ea cillum aliquip incididunt.
        +projects-item('Id dolore esse laboris commodo do velit ipsum amet commodo deserunt excepteur elit.','419',{date:'03.05.2017',meta:meta})
            | In anim anim deserunt adipisicing in deserunt nostrud nisi reprehenderit. Proident ipsum proident ad ut non veniam nulla. Laboris amet magna velit qui cupidatat anim id nostrud cupidatat. Laboris amet ullamco consectetur reprehenderit eu aute Lorem amet deserunt occaecat dolore cillum anim dolor.
        .projects-more
            a(href="#").projects-more__btn
                | Показати ще 
                span.red 6
                |  з 
                span.red 18