@font-face {
    font-family: 'Geometria';
    src: url('../fonts/geometria/Geometria.woff');
    src: url('../fonts/geometria/Geometria.woff2');
}

@font-face {
    font-family: 'GeometriaBold';
    src: ('../fonts/geometria/Geometria-Bold.woff');
    src: url('../fonts/geometria/Geometria-Bold.woff2');
}

@font-face {
    font-family: 'GeometriaExtraBold';
    src: url('../fonts/geometria/Geometria-ExtraBold.woff');
    src: url('../fonts/geometria/Geometria-ExtraBold.woff2');
}

@font-face {
    font-family: 'GeometriaLight';
    src: ('../fonts/geometria/Geometria-Light.woff');
    src: url('../fonts/geometria/Geometria-Light.woff2');
}

@font-face {
    font-family: 'GilroyExtraBold';
    src: url('../fonts/gilroy/Gilroy-ExtraBold.otf');
}

@font-face {
    font-family: 'GilroyLight';
    src: url('../fonts/gilroy/Gilroy-Light.otf');
}

$font-size: 16px;
$transition: 600ms;
$lightblue: #c5d5e6;
@import './_mixins.scss';
@import './icons.scss';
@import './tags.scss';
@import './style.scss';
@import './elements/socials.scss';
@import './elements/search.scss';
@import './elements/feedback.scss';
@import './elements/modal.scss';
@import './blocks/header.scss';
@import './blocks/footer.scss';
@import './blocks/help.scss';
@import './pages/index.scss';
@import './pages/projects.scss';