@font-face {
    font-family: 'Geometria';
    src: url('../fonts/geometria/Geometria-Bold.eot');
    src: url('../fonts/geometria/Geometria-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/geometria/Geometria-Bold.woff2') format('woff2'), url('../fonts/geometria/Geometria-Bold.woff') format('woff'), url('../fonts/geometria/Geometria-Bold.ttf') format('truetype'), url('../fonts/geometria/Geometria-Bold.svg#Geometria-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/geometria/Geometria-ExtraBold.eot');
    src: url('../fonts/geometria/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/geometria/Geometria-ExtraBold.woff2') format('woff2'), url('../fonts/geometria/Geometria-ExtraBold.woff') format('woff'), url('../fonts/geometria/Geometria-ExtraBold.ttf') format('truetype'), url('../fonts/geometria/Geometria-ExtraBold.svg#Geometria-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/geometria/Geometria-Light.eot');
    src: url('../fonts/geometria/Geometria-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/geometria/Geometria-Light.woff2') format('woff2'), url('../fonts/geometria/Geometria-Light.woff') format('woff'), url('../fonts/geometria/Geometria-Light.ttf') format('truetype'), url('../fonts/geometria/Geometria-Light.svg#Geometria-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/geometria/Geometria.eot');
    src: url('../fonts/geometria/Geometria.eot?#iefix') format('embedded-opentype'), url('../fonts/geometria/Geometria.woff2') format('woff2'), url('../fonts/geometria/Geometria.woff') format('woff'), url('../fonts/geometria/Geometria.ttf') format('truetype'), url('../fonts/geometria/Geometria.svg#Geometria') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/Gilroy/Gilroy-Light.eot');
    src: url('../fonts/gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/gilroy/Gilroy-Light.woff2') format('woff2'), url('../fonts/gilroy/Gilroy-Light.woff') format('woff'), url('../fonts/gilroy/Gilroy-Light.ttf') format('truetype'), url('../fonts/gilroy/Gilroy-Light.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/Gilroy-ExtraBold.eot');
    src: url('../fonts/gilroy/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/gilroy/Gilroy-ExtraBold.woff2') format('woff2'), url('../fonts/gilroy/Gilroy-ExtraBold.woff') format('woff'), url('../fonts/gilroy/Gilroy-ExtraBold.ttf') format('truetype'), url('../fonts/gilroy/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

$font-size: 16px;
$transition: 300ms;
$lightblue: #c5d5e6;
$darkblue: #363b5d;
$violet: #9c5d9a;
$blue: #4a90e2;
$pseudoblur: rgba(#7F8CAA,
0.9);
$red:#e63554;
@import './_mixins.scss';
@import './tags.scss';
@import './style.scss';
@import './sprites/sprites.scss';
@import './elements/socials.scss';
@import './elements/search.scss';
@import './elements/feedback.scss';
@import './elements/modal.scss';
@import './elements/tabs.scss';
@import './blocks/header.scss';
@import './blocks/footer.scss';
@import './blocks/help.scss';
@import './blocks/form/form.scss';
@import './blocks/info.scss';
@import './pages/index.scss';
@import './pages/projects/projects.scss';
@import './pages/immidiately.scss';
@import './pages/contacts.scss';