*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

html {
    min-height: 100%;
}

// $body-background:linear-gradient(305deg, #4792e1, #4174b3 35%, #363b5d);
$body-background: url('../img/backgrounds/background_1.png');
body {
    font-family: 'GilroyLight';
    font-size: rem(14px);
    text-align: left;
    letter-spacing: .003em;
    background-image: $body-background;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.body {
    &-index {
        background-size: auto, cover, 100% 100%;
        background-image: url('../img/backgrounds/heart-iso.png'), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 800"><g fill="none" fill-rule="evenodd"><path fill="url(#a)" d="M0 0h1440v800H0z"/><path fill="#FFF" d="M1440 204v596H369z"/></g></svg>'), $body-background;
        background-position: 85.9% 82%, center, center;
    }
}

.wrapper {
    padding: rem(4px) rem(30px) 0;
    &-blur {
        filter: blur(20px);
    }
}

%title {
    font-family: 'GeometriaExtraBold';
    color: #363d5d;
}

.title {
    @extend %title;
    font-size: rem(64px);
    text-align: center;
    &_white {
        color: white;
    }
}

.title-sm {
    font-size: rem(18px);
    font-family: 'GilroyLight';
}

.btn {
    font-family: 'GeometriaExtraBold';
    font-size: rem(18px);
    color: white;
    box-shadow: 0 0 15px 5px rgba(229, 54, 86, 0.4);
    background-image: linear-gradient(79deg, #e53656, #6082d8);
    padding: rem(22px) rem(100px) rem(20px);
    border-radius: rem(10px);
    display: inline-block;
}