*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Gilroy';
    font-size: rem(14px);
    text-align: left; // background-image: url('../img/backgrounds/background_1.png');
    // background-size: cover;
    background: #363B5D;
    width: 100%;
    height: 100%;
}

.wrapper {
    padding: rem(20px) rem(30px) 0;
}

%title {
    font-family: 'GeometriaExtraBold';
    color: #363d5d;
}

.title {
    @extend %title;
    font-size: rem(64px);
    &_white {
        color: white;
    }
}

.title-sm {
    font-size: rem(18px);
    font-family: 'Gilroy';
}

.btn {
    font-family: 'GeometriaExtraBold';
    font-size: rem(18px);
    color: white;
    box-shadow: 0 0 15px 5px rgba(229, 54, 86, 0.4);
    background-image: linear-gradient(79deg, #e53656, #6082d8);
    padding: rem(22px) rem(100px) rem(20px);
    border-radius: rem(10px);
    display: inline-block;
}