h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %title;
}

a {
    text-decoration: none;
    font-family: 'Geometria';
    color: $blue;
    font-weight: bold;
    &:hover,
    &:focus {
        color: $violet;
    }
}

a,
input,
button {
    transition: $transition;
    &:focus {
        box-shadow: 0 0 0 rem(1.5px) rgba($blue, 0.3);
    }
}

a,
button,
input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
}

hr {
    border-color: $lightblue;
    border-top: none;
    margin: rem(10px) 0;
}

button,
input {
    &[disabled] {
        cursor: not-allowed;
        opacity: .3;
    }
}

label {
    font-family: 'Geometria';
    font-size: rem(14px);
    color: #939aa3;
    display: block;
    font-weight: bold;
}

input {
    display: block;
    width: rem(420px);
    max-width: 100%;
    background: rgba($lightblue, .2);
    border: none;
    border-radius: rem(5px);
    color: $darkblue;
    padding: rem(12px);
    font-weight: bold;
    &::placeholder {
        color: $lightblue;
    }
    &:focus {
        color: $violet;
    }
    &.invalid {
        border-color: $red;
    }
    &.valid {
        border-color: #496b30;
    }
    &[type="checkbox"],
    &[type="radio"] {
        display: none;
        &+label {
            padding: rem(5px) 0;
            &:before {
                display: inline-block;
                content: '';
                width: 1em;
                height: 1em;
                border: rem(1px) solid $lightblue;
                vertical-align: middle;
                margin-right: rem(15px);
            }
        }
        &:checked {
            &+label {
                color: $darkblue;
                &:before {
                    border-color: $red;
                    background: $red;
                }
            }
        }
    }
    &[type="radio"] {
        +label {
            &:before {
                border-radius: 50%;
            }
        }
    }
    &[type="button"],
    &[type="submit"] {
        @extend .btn
    }
    &[type="color"] {
        padding: 0;
        height: rem(50px);
    }
}

strong {
    color: $darkblue;
}

table,
th,
td {
    border: rem(1px) solid $lightblue;
}

th,
td {
    padding: rem(10px);
}

th {
    font-family: 'GeometriaBold';
    color: $darkblue;
}

table {
    border-collapse: collapse;
}

caption {
    padding: rem(10px);
    font-size: rem(18px);
    color: $darkblue;
    font-family: 'GeometriaExtraBold';
}