.feedback {
    position: fixed;
    bottom: rem(29px);
    right: rem(29px);
    a {
        display: block;
        border-radius: 50%;
        width: rem(60px);
        height: rem(60px);
        line-height: rem(60px);
        text-align: center;
        background-color: #9d5e9b;
        font-size: rem(44px);
        box-shadow: 0 rem(2px) rem(2px) 0 rgba(0, 0, 0, 0.2), 0 rem(2px) rem(16px) 0 #9d5e9b;
        &:hover {
            background-color: $red;
            box-shadow: 0 rem(2px) rem(2px) 0 rgba(0, 0, 0, 0.2), 0 rem(2px) rem(16px) 0 $red;
        }
    }
}