.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
    overflow: hidden;
    &-wrap {
        max-width: rem(1340px);
        margin: 0 auto;
        padding: rem(100px) 0 rem(100px);
        position: relative;
        height: 100%;
        &_small {
            max-width: rem(700px);
            height: auto;
        }
    }
    &.active {
        display: block;
        background: rgba(#c5d6e6, .5);
        overflow-y: scroll;
    }
    &__close {
        position: absolute;
        top: rem(31px);
        right: rem(3px);
        font-size: rem(34px);
        padding: rem(10px);
    }
    &-window {
        background: white;
        border-radius: rem(15px);
        box-shadow: rem(3px) rem(4px) rem(10px) 0 rgba(0, 0, 0, 0.2);
        padding: rem(46px) rem(60px) rem(74px);
    }
}

@keyframes modalOpen {
    0% {
        top: 100%;
    }
    50% {
        top: -5%;
    }
    75% {
        top: 2%;
    }
    100% {
        top: 0%;
    }
}

@keyframes modalClose {
    0% {
        top: 0%;
    }
    100% {
        top: 100%;
    }
}