.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: none;
    &-wrap {
        max-width: rem(1340px);
        margin: 0 auto;
        padding: rem(100px) 0 rem(100px);
        position: relative;
        height: 100%;
        &_sm {
            max-width: rem(700px);
        }
        &_md,
        &_sm {
            .modal-window {
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &.active {
        display: block;
        overflow-y: scroll;
        background: rgba(#c5d6e6, .5);
    }
    &__close {
        font-size: rem(34px);
        padding: rem(10px);
        margin-bottom: rem(10px);
        margin-right: rem(4px);
        position: absolute;
        right: rem(-1px);
        top: rem(-69px);
    }
    &-window {
        width: 100%;
        background: white;
        border-radius: rem(15px);
        box-shadow: rem(3px) rem(4px) rem(10px) 0 rgba(0, 0, 0, 0.2);
        padding: rem(46px) rem(60px) rem(74px);
        position: relative;
    }
}

@keyframes modalOpen {
    0% {
        top: 100%;
    }
    50% {
        top: -5%;
    }
    75% {
        top: 2%;
    }
    100% {
        top: 0%;
    }
}

@keyframes modalClose {
    0% {
        top: 0%;
    }
    100% {
        top: 100%;
    }
}