.projects-filter {
    display: inline-block;
    position: relative;
    z-index: 10;
    &-wrap {
        text-align: right;
        margin-bottom: rem(45px);
    }
    &-dropdown {
        display: none;
        background: $pseudoblur;
        border-radius: rem(10px);
        left: 0;
        top: 100%;
        position: absolute;
        width: 100%;
        width: rem(161px);
    }
    &-list {
        @extend %list;
        li {
            height: rem(41px);
            border-bottom: rem(1px) solid rgba(#d8d8d8, .5);
            text-align: left;
            position: relative;
            &:before {
                height: 100%;
                width: 0;
                content: '';
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    &__label {
        color: white;
        margin: 0 rem(36px) 0 rem(14px);
        font-size: rem(12px);
        font-family: 'Geometria';
        font-weight: bold;
        vertical-align: middle;
        display: inline-block;
    }
    &__toggle {
        background: none;
        border: none;
        font-family: 'Geometria';
        font-size: rem(14px);
        color: $lightblue;
        font-weight: bold;
        padding: rem(4px) rem(6px) rem(4px) rem(8px);
    }
    .icon {
        margin-left: rem(10px);
        font-size: rem(18px);
    }
    &__checkbox {
        display: none;
    }
    &__btn {
        border: none;
        display: block;
        width: 100%;
        border-radius: rem(5px);
        background: rgba(black, .2);
        color: white;
        font-family: 'Geometria';
        font-weight: bold;
        padding: rem(9px);
        font-size: rem(12px);
        &:hover {
            background: rgba(white, .2);
        }
    }
    &-bottom {
        padding: rem(13px) rem(18px);
    }
}

.active {
    .projects-filter-dropdown {
        display: block;
    }
}

input[type="checkbox"].projects-filter__checkbox {
    &:checked+label {
        color: white;
        &:before {
            background: linear-gradient(53deg, #e53656, #6082d8);
        }
    }
    &+label {
        &:before {
            content: '';
            display: block;
            background: rgba(white, .6);
            width: rem(18px);
            height: rem(18px);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: rem(16px);
            transform: translateY(-50%);
            margin: 0;
            border: none;
        }
    }
}