%search-block {
    background: $pseudoblur;
    border-radius: rem(10px);
}

.search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: rem(15px) rem(30px);
    display: none;
    z-index: 50;
    &.active {
        display: block;
    }
    &-form {
        @extend %search-block;
        margin-bottom: rem(20px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(5px) rem(26px);
    }
    &__label {
        font-size: rem(18px);
        font-family: 'GeometriaBold';
        color: #2e3f69;
        margin-left: rem(4px);
    }
    &__input {
        font-family: 'Geometria';
        font-size: rem(40px);
        background: none;
        border: none;
        color: white;
        text-align: center;
        width: 100%;
        padding: 0 rem(27px) 0 rem(10px);
        font-weight: 600;
    }
    &__close {
        font-size: rem(44px);
    }
    &-results {
        @extend %search-block;
        padding: rem(19px) rem(50px) rem(19px);
        color: white;
    }
    &-list {
        @extend %list;
    }
    &-item {
        @extend %clearfix;
        margin-bottom: rem(39px);
        &:last-child {
            .search-categories-list {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }
    &__section {
        width: rem(290px);
        float: left;
        font-family: 'Geometria';
        font-size: rem(24px);
        padding-top: rem(28px);
    }
    &-categories {
        float: left;
        &__title {
            font-family: 'Geometria';
            font-size: rem(18px);
            margin-bottom: rem(19px);
        }
        &-list {
            @extend %list;
            padding-bottom: rem(26px);
            border-bottom: rem(1px) solid rgba(white, .4);
        }
        &-item {
            display: inline-block;
            width: rem(300px);
            vertical-align: top;
            margin-right: rem(96px);
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &-projects {
        &-list {
            font-weight: 300;
            @extend %list;
        }
        &-item {
            padding-bottom: rem(8px);
            border-bottom: rem(1px) solid rgba(white, .4);
            margin-bottom: rem(6px);
            &:last-child {
                border-bottom: none;
            }
        }
    }
}