.socials {
    &-list {
        @extend %list;
        display: inline-block;
        li {
            display: inline-block;
            font-size: rem(20px);
            margin: 0 rem(6px);
        }
        a {
            &:hover {
                opacity: .5;
            }
        }
    }
}