.socials {
    &-list {
        @extend %list;
        display: inline-block;
    }
    &-item {
        display: inline-block;
        font-size: rem(20px);
        margin: 0 rem(6px);
    }
    &__link {
        &:hover {
            opacity: .5;
        }
    }
}