.tabs {
    &-nav {
        @extend %list;
        &>li {
            cursor: pointer;
        }
    }
    &-list {
        @extend %list;
        &>li {
            display: none;
            &.active {
                display: block;
            }
        }
    }
}