extends ../templates/projects-list.pug

block variables
    - var title = 'Архів'
    - var carousel = [{name:'Війна',count:24},{name:'Екологія',count:24},{name:'Діти',count:120},{name:'Освіта',count:24}]
    - modalReg = true;
block list
    +projects-item('Організація поїздки сиріт до дитячого табору в Болгарії','513','07.05.2017','Ім\'я Фамілія, ВАТ "Фірма 1"б Ім\'я Фамілія 4, ВАТ "Фірма 3"',true)
        | Перебуваючи у сиротинцях ці діти мають різного роду матеріальні та нематеріальні потреби, якими зазвичай ніхто не займається. Ті, хто має займатися утриманням дитячих будинків, опікою над дітьми часто забувають про свій обов’язок або ж отримують недостатнє фінансування від держави. Тому вся надія цих діточок покладається на небайдужих людей, волонтерів, благодійні фонди. 
    +projects-item('Операція дитині, яка постраждала в зоні АТО','271','04.05.2017',{collected: '10 000', total: '25 000'})
        | Et mollit quis ipsum nulla excepteur amet laboris deserunt sunt amet proident aliqua eiusmod quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad modi magni beatae sed aut quibusdam suscipit. Quis iure ab tempora! Animi beatae dicta repudiandae eveniet, enim expedita temporibus quo unde.
    +projects-item('Освітній загальний курс з основ WEB технологій для школярів','018','03.05.2017',{collected: '10 000', total: '25 000'})
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga aliquid enim ex consectetur expedita ea beatae! Consectetur facilis ad neque molestiae alias accusamus id deserunt! Maxime, labore animi! Ipsa, asperiores?
    +projects-item('Будування дитячого майданчику у місті Київ','419','03.05.2017',{collected: '10 000', total: '25 000'})
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga aliquid enim ex consectetur expedita ea beatae! Consectetur facilis ad neque molestiae alias accusamus id deserunt! Maxime, labore animi! Ipsa, asperiores?