extends ../layout.pug
block variables
    - var modalHelp = true;
    - var modalInfo = true;
block content
    .index-bg
    section.index-wrap.index-element
        h1.title.title_white.index-title Добре Серце
            a(href="#").index__link.index__link_more детальніше про проект 
                span.icon.icon-arrow-right
        ul.index-list
            li.index-item
                p.subtitle.index-subtitle Вже зараз Ви можете допомогти тим, хто дійсно потребує допомоги
                a(href="#" id="indexHelp").index__link Як Ви можете допомогти? 
                    span.icon.icon-arrow-right
                a(href="./projects.html").index__btn Допомогти вже зараз
            li.index-item
                p.subtitle.index-subtitle Якщо Вам необхідна допомога, додайте проект
                a(href="#").index__link Додати проект 
                    span.icon.icon-add
    footer.footer.index-element Розповісти всім:
        include ../elements/socials.pug