extends ../layout.pug

block variables
    - var title = "Style Test Page"

block content
    div(style="margin: 20px; border: 1px dashed orange; padding: 20px;")
        div(style="background: white; padding: 20px;")
            .title Ad cupidatat ipsum adipisicing amet fugiat veniam veniam culpa magna.
            a(href="#").btn.btn-lg Button
        div(style="padding: 20px; background: #363b5d;  color: white;")
            .title.title_white Id qui ea sint nisi laboris officia ad.
            .title.title_sm Elit ipsum sunt do proident qui aliqua deserunt et ea veniam Lorem exercitation cillum voluptate.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis deleniti assumenda similique numquam est consequatur eaque animi modi voluptas, eos quibusdam rem nihil quidem dignissimos maxime quis molestiae dicta distinctio!
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum repellat ab similique ipsum voluptate eius iusto saepe eaque assumenda distinctio inventore cupiditate a deleniti error expedita amet exercitationem, commodi nesciunt.
            p Перебуваючи у сиротинцях ці діти мають різного роду матеріальні та нематеріальні потреби, якими зазвичай ніхто не займається. Ті, хто має займатися утриманням дитячих будинків, опікою над дітьми часто забувають про свій обов’язок або ж отримують недостатнє фінансування від держави. Тому вся надія цих діточок покладається на небайдужих людей, волонтерів, благодійні фонди. 
            a(href="#").btn Button
        div(style="padding: 20px; background: white;")
            h1 h1 Laborum qui anim culpa laborum aliquip ipsum minim aute dolore in.
            h2 h2 Elit deserunt nostrud Lorem laboris non dolor veniam ut consequat enim officia exercitation.
            h3 h3 Non eiusmod esse eiusmod est irure Lorem eiusmod mollit occaecat.
            h4 h4 Velit nisi non ad enim esse proident laboris nostrud eu dolore eiusmod consequat ad.
            h5 h5 Id minim aliqua occaecat dolor deserunt minim sint amet.
            h6 h6 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit labore officiis fuga eveniet quisquam libero numquam, blanditiis fugiat eum aliquid explicabo dolore architecto dolorum consectetur sunt pariatur laborum necessitatibus nulla.
            a(href="#") Ipsum culpa ex eiusmod esse.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, iure. Provident iusto nam porro eligendi laboriosam inventore iure qui adipisci earum voluptatibus. Facere quia iste modi earum esse eius iusto!
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsum quidem dignissimos quae, sunt et suscipit repudiandae vel accusamus dolorem, recusandae voluptas id doloribus consectetur adipisci accusantium, necessitatibus debitis quia.
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur adipisci mollitia voluptas quasi aliquam reprehenderit totam necessitatibus beatae, provident cum. Eius, totam earum laudantium et delectus suscipit provident maxime ipsam!
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit, deleniti. In rerum optio, illum vitae asperiores, provident beatae numquam modi, debitis similique ducimus tempora recusandae nemo fugiat. Placeat, ipsum a. 
                strong Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis veritatis doloremque consequatur delectus beatae temporibus iste aspernatur nisi nobis rerum! Odit possimus rem explicabo pariatur exercitationem repellat nulla ex quasi!
            table
                caption Table caption
                thead
                    tr
                        th Test
                        th Dddd
                        th Lorem Ipsum
                tbody
                    tr
                        td Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi blanditiis voluptatum a cumque sequi? Vitae, facere? Unde, corporis nulla, eos reprehenderit asperiores expedita officia odio vel repudiandae aliquam atque quae.
                        td 4534.54
                        td Lorem Ipsum
                    tr
                        td Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi blanditiis voluptatum a cumque sequi? Vitae, facere? Unde, corporis nulla, eos reprehenderit asperiores expedita officia odio vel repudiandae aliquam atque quae.
                        td 4534.54
                        td Lorem Ipsum
                    tr
                        td Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi blanditiis voluptatum a cumque sequi? Vitae, facere? Unde, corporis nulla, eos reprehenderit asperiores expedita officia odio vel repudiandae aliquam atque quae.
                        td 4534.54
                        td Lorem Ipsum
                    tr
                        td Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi blanditiis voluptatum a cumque sequi? Vitae, facere? Unde, corporis nulla, eos reprehenderit asperiores expedita officia odio vel repudiandae aliquam atque quae.
                        td 4534.54
                        td Lorem Ipsum
                    tr
                        td Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi blanditiis voluptatum a cumque sequi? Vitae, facere? Unde, corporis nulla, eos reprehenderit asperiores expedita officia odio vel repudiandae aliquam atque quae.
                        td 4534.54
                        td Lorem Ipsum