- var prefix = 'phys'
if jurPerson
    - prefix = 'jur'

form(id=prefix + 'HelpForm')
    include ./form-labels.pug
    include ./form-tabs.pug
    .form-submit
        button(type="submit" disabled).btn.btn-lg Допомогти