fieldset.form-wrap
    .form-left
        +form-group([{name:'Ім\'я',id:prefix + 'Firstname'},{name:'Фамілія',id: prefix +'Lastname'}])
        +form-group({name:'Назва компанії, організації',id:prefix +'Org'})
            input(type="file" id=prefix+'LogoInput').form-file__input
            a(href="#" id=prefix + 'LogoBtn').form-file__btn + Логотип
        +form-group({name:'Email-адрес',id:prefix +'Email'})
        +form-group({name:'Номер телефону',id:prefix +'Phone', placeholder:'(000) 000-00-00'})
    .form-right
        +form-group({name:'Країна',id:prefix +'Country'})
        +form-group([{name:'Місто',id:prefix +'City'},{name:'Штат, район',id:prefix +'District'}])
        +form-group({name:'Адреса',id:prefix +'Address',placeholder:'Введіть адресу для автозаповнення'})
        +form-group([{name:'Поштовий індекс',id:prefix +'PostalCode'}])
if jurPerson
    fieldset.form-wrap
        .form-left
            +form-group({name:'Юридична адреса',id:prefix +'OrgAddress'})
            +form-group([{name:'Найменування банку',id:prefix +'BankName'},{name:'МФО банку',id:prefix +'BankMFO'}])
            +form-group({name:'Розрахунковий рахунок',id:prefix +'Account'})
        .form-right
            +form-group([{name:'ЗКПО',id:prefix +'Zkpo'},{name:'Тип оподаткування',id:prefix +'TaxType'}])
            +form-group([{name:'ІНН',id:prefix +'Inn'},{name:'Система оподаткування',id:prefix +'TaxSystem'}])
            +form-group([{name:'Телефон бухгалтерії',id:prefix +'AccouintingPhone'},{name:'Факс',id:prefix +'Fax'}])