.form-wrap
    h2.title.form-title Види допомоги
    h3.subtitle.form-subtitle Ви можете змінити вид допомоги
    +form-tabs([{icon:'help-hand',name:'Зробити'},{icon:'help-wallet',name:'Фінансова допомога'},{icon:'help-clothes',name:'Матеріальна допомога'},{icon:'help-heart',name:'Волонтерство'}])
        li(id='doTab')
            fieldset.form-tabs-fieldset
                +form-group({name:'Тестове поле 1',id:prefix + 'DoTest1'})
                +form-group({name:'Тестове поле 2',id:prefix + 'DoTest2'})
        li(id='financialTab')
            fieldset.form-tabs-fieldset
                include ./form-pay.pug
        li(id='materialTab')
            fieldset.form-tabs-fieldset
                +form-group({name:'Тестове поле 1',id:prefix + 'MatTest1'})
                +form-group({name:'Тестове поле 2',id:prefix + 'MatTest2'})
                +form-group({name:'Тестове поле 3',id:prefix + 'MatTest3'})
        li(id='volunteersTab')
            fieldset.form-tabs-fieldset
                h2 Волонтерство
                | Жодних полів, форма має бути валідною, коли будуть заповнені поля вгорі.