.form-left
    label.form__label.form-tabs__label Спосіб оплати
    .form-radio-group
        +form-radio(prefix+'Visa','pay')
            .form-radio__logo
                span.icon.icon-mastercard
                span.icon.icon-visa
            .form-radio__name Карта Visa/MasterCard
        +form-radio(prefix+'Pb','pay')
            .form-radio__logo Приват24
            .form-radio__name Приват24
        +form-radio(prefix+'Terminals','pay')
            .form-radio__logo
                span.icon.icon-terminals
            .form-radio__name Термінали України
        +form-radio(prefix+'Webmoney','pay')
            .form-radio__logo
                span.icon.icon-webmoney
            .form-radio__name WebMoney
        +form-radio(prefix+'Paypal','pay')
            .form-radio__logo
                span.icon.icon-paypal
            .form-radio__name PayPal
        if jurPerson
            +form-radio(prefix+'Bank','pay')
                .form-radio__logo
                    span.icon.icon-bank
                .form-radio__name Банківський переказ
.form-right
    label.form__label.form-tabs__label Введіть наступні дані
    .form-card
        label.form__label Номер карти
        .form-card-group
            input(type="text" id=prefix+'CardNumber' name=prefix+'CardNumber').el-hidden
            - var n = 0;
            while n < 4
                input(type="text" id=prefix+'CardInput'+n).form__input.form-card__number
                - n++
        .form-left
            label.form__label Термін дії
            input(type="text").form__input.form-card__delay
        .form-right
            label.form__label CVC/CVV
            input(type="text").form__input.form-card__delay
        .form-right