.form {
    &__label {
        font-family: 'Geometria';
        font-size: rem(14px);
        color: #939aa3;
        margin-bottom: rem(2px);
        display: block;
        font-weight: bold;
    }
    &__input {
        display: block;
        width: rem(420px);
        max-width: 100%;
        background: rgba($lightblue, .2);
        border: none;
        border-radius: rem(5px);
        color: #939aa3;
        padding: rem(12px);
        font-weight: bold;
        &:focus {
            color: $darkblue;
        }
    }
    &__link {
        margin-left: rem(20px);
    }
    &-group {
        margin-bottom: rem(32px);
        &-half {
            width: rem(200px);
            display: inline-block;
            margin-right: rem(16px);
            &:last-child {
                margin-right: 0;
            }
        }
        &-inner {
            display: inline-block;
        }
    }
}