.form {
    &-radio {
        &-group {
            margin: 0 rem(-8px) rem(-20px);
            @extend %clearfix;
        }
        &__logo {
            font-size: rem(18px);
            font-family: 'GilroyExtraBold';
            font-weight: 800;
            height: rem(51px);
            &:before {
                display: inline-block;
                content: '';
                height: 100%;
                width: 0;
                vertical-align: middle;
            }
            .icon {
                font-size: rem(31px);
                .icon+.icon {
                    margin-left: rem(20px);
                }
            }
        }
    }
    &-card {
        border-radius: rem(15px);
        background: $lightblue;
        width: rem(375px);
        height: rem(188px);
        padding: rem(19px) rem(24px) rem(20px) rem(25px);
        .form__label {
            color: white;
            margin-bottom: rem(4px);
        }
        .form__input {
            background: #f3f7fa;
            display: inline-block;
        }
        &-group {
            margin-bottom: rem(30px);
            position: relative;
            .invalid {
                &~input {
                    border-color: $red;
                    color: $red;
                }
                ~&__msg {
                    display: block;
                }
                &__msg {
                    top: 100%;
                }
            }
        }
        &__number {
            width: rem(74px);
            text-align: center;
            margin-right: rem(10px);
            padding-top: rem(11px);
            padding-bottom: rem(11px);
            &:last-child {
                margin-right: 0;
            }
        }
        &__delay {
            width: rem(130px);
        }
        .valid {
            &~input {
                border-color: rgb(73, 107, 48);
            }
        }
    }
}

input[type="radio"].form-radio__input {
    display: none;
    &+.form-radio__label {
        font-size: rem(12px);
        padding: rem(10px);
        text-align: center;
        background: $lightblue;
        color: white;
        display: inline-block;
        width: rem(170px);
        height: rem(85px);
        margin: 0 rem(8px) rem(20px);
        border-radius: rem(10px);
        transition: $transition;
        vertical-align: top;
        &:hover {
            background: $darkblue;
        }
        &:before {
            content: none;
        }
    }
    &:checked+.form-radio__label {
        background: $violet;
    }
}

.card-focus {
    .invalid__msg {
        display: block;
    }
}