.form {
    &__label {
        margin-bottom: rem(2px);
    }
    &__link {
        margin-left: rem(20px);
    }
    &__input {
        border: rem(1px)solid transparent;
    }
    &-file {
        &__input {
            display: none;
        }
        &__btn {
            margin-left: rem(20px);
        }
    }
    &-group {
        margin-bottom: rem(32px);
        position: relative;
        &-half {
            width: rem(200px);
            display: inline-block;
            margin-right: rem(16px);
            position: relative;
            &:last-child {
                margin-right: 0;
            }
        }
        &-inner {
            display: inline-block;
        }
    }
}

.invalid {
    &__msg {
        margin: rem(5px) 0 0;
        padding: rem(5px);
        list-style: none;
        color: white;
        display: none;
        font-family: 'GeometriaBold';
        position: absolute;
        background: $red;
        border-radius: rem(5px);
        box-shadow: rem(2px) rem(2px) rem(4px) rem(2px) rgba($red, .2);
        border: rem(1px) solid $red;
        z-index: 100;
        li {
            margin-bottom: rem(10px);
            &:before {
                content: '!';
                display: inline-block;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                background: white;
                color: $red;
                text-align: center;
                font-family: 'GeometriaBold';
                margin-right: rem(5px);
            }
            &:last-child {
                margin: 0;
            }
        }
    }
    &:focus {
        ~.invalid__msg {
            display: block;
        }
    }
}