.form {
    &-tabs {
        margin-bottom: rem(16px);
        margin-right: rem(2px);
        &-btns {
            @extend %list;
            margin-bottom: rem(23px);
            padding: 0 rem(23px);
            display: flex;
            justify-content: space-between;
            &>li {
                max-width: rem(220px);
                flex-grow: 0;
                width: 100%;
                &.active {
                    .form-tabs {
                        &-title__text {
                            color: $darkblue;
                        }
                        &__icon {
                            background: $violet;
                            border-color: $violet;
                            &:after {
                                display: block;
                                position: absolute;
                                width: rem(30px);
                                height: rem(20px);
                                left: 50%;
                                bottom: rem(-28px);
                                content: '';
                                transform: translateX(-50%);
                                background-image: svg('<svg xmlns="http://www.w3.org/2000/svg"><polygon points="15,0 0,19 30,19" style="fill:white;stroke:#c5d5e6;stroke-width:1" /></svg>');
                                background-position-y: rem(3px);
                                background-position-x: center;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                }
                &:hover {
                    .form-tabs {
                        &-title__text {
                            color: $darkblue;
                        }
                    }
                }
            }
        }
        &__link {
            display: block;
        }
        &__icon {
            @extend .help__icon;
            position: relative;
        }
        &-title {
            @extend .help-title;
            &__text {
                @extend .help-title__text;
                color: $lightblue;
                transition: $transition;
            }
        }
        &-list {
            @extend %list;
            &>li {
                display: none;
                border-radius: rem(15px);
                border: rem(1px) solid $lightblue;
                padding: rem(16px) rem(20px) rem(20px) rem(19px);
                background: white;
                @extend %clearfix;
                &.active {
                    display: block;
                }
            }
        }
        &__label {
            margin-bottom: rem(8px);
        }
    }
}