.form {
    &__label {
        margin-bottom: rem(2px);
    }
    &__link {
        margin-left: rem(20px);
    }
    &-group {
        margin-bottom: rem(32px);
        &-half {
            width: rem(200px);
            display: inline-block;
            margin-right: rem(16px);
            &:last-child {
                margin-right: 0;
            }
        }
        &-inner {
            display: inline-block;
        }
    }
}