extends ../templates/modal.pug

block modalVariables
    - var modalId = 'modalFormPhys'

block modal
    .title Заповніть форму
    .form-toggle
        .form-toggle-btns
            a(href="#").form-toggle__btn.active Фіз. особа
            a(href="#").form-toggle__btn Юр. особа
    .form-wrap
        .form-left
            +form-group([{name:'Ім\'я',id:'firstname'},{name:'Фамілія',id:'lastname'}])
            +form-group({name:'Назва компанії, організації',id:'org'})
                a(href="#").form__link + Логотип
            +form-group({name:'Email-адрес',id:'email'})
            +form-group({name:'Номер телефону',id:'phone'})
        .form-right
            +form-group({name:'Країна',id:'country'})
            +form-group([{name:'Місто',id:'city'},{name:'Штат, район',id:'district'}])
            +form-group({name:'Адреса',id:'address'})
            +form-group([{name:'Поштовий індекс',id:'postindex'}])
    .form-wrap
        .form-left
            +form-group({name:'Юридична адреса',id:'jurAddress'})
            +form-group([{name:'Найменування банку',id:'bankName'},{name:'МФО банку',id:'bankMFO'}])
            +form-group({name:'Розрахунковий рахунок',id:'account'})
        .form-right
            +form-group([{name:'ЗКПО',id:'zkpo'},{name:'Тип оподаткування',id:'taxType'}])
            +form-group([{name:'ІНН',id:'inn'},{name:'Система оподаткування',id:'taxSystem'}])
            +form-group([{name:'Телефон бухгалтерії',id:'accouintingPhone'},{name:'Факс',id:'fax'}])
    .form-wrap
        .title Види допомоги
            .subtitle.form-subtitle Ви можете змінити вид допомоги
        +form-tabs([{icon:'help-hand',name:'Зробити'},{icon:'help-wallet',name:'Фінансова допомога'},{icon:'help-clothes',name:'Матеріальна допомога'},{icon:'help-heart',name:'Волонтерство'}],1)
            li(id='doTab').form-tabs-item
                h2 Зробити
                .form-left
                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ducimus sint soluta optio! Iure sunt nostrum ut eligendi ipsam deserunt totam! Iure quidem, quae tenetur nulla doloremque maxime veniam aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit possimus labore, quia qui in ipsa laboriosam, cum ut dolore dicta nesciunt id excepturi reprehenderit. Rem, nulla! Quia dignissimos eum veritatis.
                .form-right
                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ducimus sint soluta optio! Iure sunt nostrum ut eligendi ipsam deserunt totam! Iure quidem, quae tenetur nulla doloremque maxime veniam aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit possimus labore, quia qui in ipsa laboriosam, cum ut dolore dicta nesciunt id excepturi reprehenderit. Rem, nulla! Quia dignissimos eum veritatis.
            li(id='financialTab').form-tabs-item.active
                .form-left
                    label.form__label(for="pay") Спосіб оплати
                    .form-radio-group
                        +form-radio('visa','pay')
                            .form-radio__logo
                                span.icon.icon-mastercard
                                span.icon.icon-visa
                            .form-radio__name Карта Visa/MasterCard
                        +form-radio('pb','pay')
                            .form-radio__logo Приват24
                            .form-radio__name Приват24
                        +form-radio('terminals','pay')
                            .form-radio__logo
                                span.icon.icon-terminals
                            .form-radio__name Термінали України
                        +form-radio('webmoney','pay')
                            .form-radio__logo
                                span.icon.icon-webmoney
                            .form-radio__name WebMoney
                        +form-radio('paypal','pay')
                            .form-radio__logo
                                span.icon.icon-paypal
                            .form-radio__name PayPal
                        +form-radio('bank','pay')
                            .form-radio__logo
                                span.icon.icon-bank
                            .form-radio__name Банківський переказ
                .form-right
                    label.form__label Введіть наступні дані
                    .form-card
                        label.form__label Номер карти
                        .form-card-group
                            - var n = 0;
                            while n < 4
                                input(type="text").form__input.form-card__number
                                - n++
                        .form-left
                            label.form__label Термін дії
                            input(type="text").form__input.form-card__delay
                        .form-right
                            label.form__label CVC/CVV
                            input(type="text").form__input.form-card__delay
                        .form-right
            li(id='materialTab').form-tabs-item
                h2 Матеріальна допомога
                | #3 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ducimus sint soluta optio! Iure sunt nostrum ut eligendi ipsam deserunt totam! Iure quidem, quae tenetur nulla doloremque maxime veniam aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit possimus labore, quia qui in ipsa laboriosam, cum ut dolore dicta nesciunt id excepturi reprehenderit. Rem, nulla! Quia dignissimos eum veritatis.
                | #3 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ducimus sint soluta optio! Iure sunt nostrum ut eligendi ipsam deserunt totam! Iure quidem, quae tenetur nulla doloremque maxime veniam aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit possimus labore, quia qui in ipsa laboriosam, cum ut dolore dicta nesciunt id excepturi reprehenderit. Rem, nulla! Quia dignissimos eum veritatis.
            li(id='volunteersTab').form-tabs-item
                h2 Волонтерство
                | #4Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ducimus sint soluta optio! Iure sunt nostrum ut eligendi ipsam deserunt totam! Iure quidem, quae tenetur nulla doloremque maxime veniam aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit possimus labore, quia qui in ipsa laboriosam, cum ut dolore dicta nesciunt id excepturi reprehenderit. Rem, nulla! Quia dignissimos eum veritatis.
                | #4Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ducimus sint soluta optio! Iure sunt nostrum ut eligendi ipsam deserunt totam! Iure quidem, quae tenetur nulla doloremque maxime veniam aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit possimus labore, quia qui in ipsa laboriosam, cum ut dolore dicta nesciunt id excepturi reprehenderit. Rem, nulla! Quia dignissimos eum veritatis.
    .form-submit
        button(type="submit").btn.btn-lg Допомогти