header.header
    .header__heart
        span.icon.icon-heart
    .header-lang
        ul.header-lang-list
            li.header-lang-item
                a(href="#").header-lang__link.header-lang__link_active УКР
            li.header-lang-item
                a(href="#").header-lang__link РУС
            li.header-lang-item
                a(href="#").header-lang__link ENG
    nav.header-nav
        ul.header-nav-list
            li.header-nav-item
                a(href="#").header-nav__link.header-nav__link_active Проекти
            li.header-nav-item
                a(href="#").header-nav__link Архів
            li.header-nav-item
                a(href="#").header-nav__link Контакти
            li.header-nav-item
                a(href="#").header-nav__link.header-nav__link_accent Термінова допомога
    .header-search
        a(href="#").header-search__toggle
            span.icon.icon-search
    .header-auth
        a(href="#").header-auth__link Вхід / Зареєструватися