header.header
    .header-left
        .header__logo
            a(href="./index.html")
                span.icon.icon-heart
        .header-lang
            ul.header-lang-list
                li
                    a(href="#").active УКР
                li
                    a(href="#") РУС
                li
                    a(href="#") EN
    nav.header-nav
        ul.header-nav-list
            each page,index in [{name:'Проекти',url:'./projects.html'},{name:'Архів',url:'./archive.html'},{name:'Контакти',url:'./contacts.html'}]
                if index == navIndex
                    - var cls = 'active'
                else
                    - var cls = ''
                if index == navIndex
                    li.active
                            span #{page.name}
                else
                    li
                        a(href=page.url class=cls) #{page.name}
            if isImmidiately
                li.active
                    span Термінова допомога
            else
                li.accent
                    a(href="./immidiately.html") Термінова допомога
    .header-right
        .header-search
            a(href="#").header-search__toggle
                span.icon.icon-search
        .header-auth
            a(href="#") Вхід
            |  / 
            a(href="#") Зареєструватися