header.header
    .header__heart
        a(href="./index.html")
            span.icon.icon-heart
    .header-lang
        ul.header-lang-list
            li.header-lang-item
                a(href="#").header-lang__link.header-lang__link_active УКР
            li.header-lang-item
                a(href="#").header-lang__link РУС
            li.header-lang-item
                a(href="#").header-lang__link EN
    nav.header-nav
        ul.header-nav-list
            li.header-nav-item
                a(href="./projects.html").header-nav__link.active Проекти
            li.header-nav-item
                a(href="./archive.html").header-nav__link Архів
            li.header-nav-item
                a(href="./contacts.html").header-nav__link Контакти
            li.header-nav-item
                a(href="./immidiately.html").header-nav__link.accent Термінова допомога
    .header-search
        a(href="#").header-search__toggle
            span.icon.icon-search
    .header-auth
        a(href="#").header-auth__link Вхід / Зареєструватися