extends ../templates/modal.pug
include ../mixins/help-item.pug

block modalVariables
    - var modalId = 'modalHelp'
    - var modalForm = true
    - var modalMod = 'md'

block modal
    .title Види допомоги
    ul.help-list
        +help-item('Зробити','help-hand')
            p Натискайте цю кнопку, якщо Ви хочете зробити, наприклад: ремонт у дитячому будинку, складну операцію, побудувати дитячий майданчик або побудувати житло для переселенців і тд.
            p Ця кнопка, для організацій, які можуть взяти на себе відповідальність за увесь проект. 
        +help-item('Фінансова допомога','help-wallet')
            p Перераховуйте гроші тим, хто дійсно потребує цього. 
        +help-item('Матеріальна допомога','help-clothes')
            p Зберіть ліки, речі, їжу, іграшки та інше, для тих, кому це необхідно.
        +help-item('Волонтерство','help-heart')
            p Допоможіть ділом або професійними навичками.
                br
                | Підтримайте проекти своєю роботою. 