extends ../templates/modal.pug
block modalVariables
    - var modalId = 'modalInfo'
    - var modalSmall = true

block modal
    .title.title_sm Допомогли
    ul.info-list
        each name in ['Ім\'я Фамілія', 'ВАТ "Фірма 1"', 'Ім\'я Фамілія 4', 'ВАТ "Фірма 3"', 'Ім\'я Прізвище', 'ТзОВ "Фірма 11"', 'Ім\'я Прізвище', 'Ім\'я Прізвище', 'Ім\'я Прізвище', '"Фірма 5"',' ВАТ "Фірма 2"']
            li
                a(href="#" target="_blank") #{name}