extends ../templates/modal.pug
block modalVariables
    - var modalId = 'modalInfo'
    - var modalSmall = true

block modal
    .title Lorem ipsum
    p Et deserunt excepteur et mollit labore sunt cupidatat voluptate. Nulla aliquip adipisicing nulla deserunt. Duis ullamco anim dolore duis ad do ad esse voluptate ullamco id excepteur quis nulla. Culpa exercitation excepteur pariatur veniam tempor incididunt est esse et fugiat labore. Qui laborum ad veniam voluptate minim aute eu exercitation id elit laboris incididunt dolore.