extends ../pug/layout.pug

block variables
    - var title = "Добре серце"

block content
    ul.index-list.index-element
        li.index-item
            .title.title_white.index-title Добре Серце 
                a(href="#").index__link детальніше про проект 
                    span.icon.icon-right-circle
        li.index-item
            .title-sm.index-title-sm Вже зараз Ви можете допомогти тим, хто дійсно потребує допомоги
            a(href="#").index__link Як Ви можете допомогти? 
                span.icon.icon-right-circle
            a(href="#").index__btn Допомогти вже зараз
        li.index-item
            .title-sm.index-title-sm Якщо Вам необхідна допомога, додайте проект
            a(href="#").index__link Додати проект 
                span.icon.icon-right-circle
    footer.footer.index-element Розповісти всім:
        include ../pug/elements/socials.pug