.index {
    &-wrap {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &-element {
        margin-left: rem(70px);
    }
    &-list {
        @extend %list;
        color: white;
    }
    &-item {
        padding: rem(8px) 0;
        margin-bottom: rem(69px);
        &:before {
            display: block;
            content: '';
            background: white;
            width: rem(50px);
            height: rem(2px);
            margin-bottom: rem(17px);
        }
    }
    &__link {
        color: #c5d5e6;
        font-size: rem(18px);
        letter-spacing: .012em;
        &_more {
            margin-left: rem(11px);
        }
    }
    &-title {
        margin-bottom: rem(65px);
        &-sm {
            margin-bottom: rem(35px);
            width: rem(456px);
            letter-spacing: .003em;
        }
    }
    &__btn {
        margin-left: rem(100px);
        padding: rem(13px) rem(20px) rem(14px);
        border-radius: rem(10px);
        background: rgba(black, .2);
        color: white;
        font-family: 'Geometria';
        font-size: rem(18px);
        box-shadow: 0 0 15px 10px rgba(#e53656, .2), 0 0 7px 2px rgba(#9d5e9a, .2);
    }
}