.index {
    &-bg {
        position: absolute;
        right: 0;
        bottom: 0;
        max-height: rem(800px);
        max-width: rem(1440px);
        width: 100%;
        height: 100%;
        background-size: auto, cover;
        background-image: url('../img/backgrounds/heart-iso.png'), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 800"><g fill="none" fill-rule="evenodd"><path fill="url(#a)" d="M0 0h1440v800H0z"/><path fill="#FFF" d="M1440 204v596H369z"/></g></svg>');
        background-position: 85.9% 82%, center;
        background-repeat: no-repeat;
        z-index: -1;
    }
    &-wrap {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-top: rem(33px);
    }
    &-element {
        margin-left: rem(100px);
    }
    &-list {
        @extend %list;
        color: white;
    }
    &-item {
        padding: rem(8px) 0;
        margin-bottom: rem(69px);
        &:before {
            display: block;
            content: '';
            background: white;
            width: rem(50px);
            height: rem(2px);
            margin-bottom: rem(17px);
        }
    }
    &__link {
        color: $lightblue;
        font-size: rem(18px);
        letter-spacing: .012em;
        &_more {
            margin-left: rem(11px);
        }
    }
    &-title {
        margin-bottom: rem(58px);
    }
    &-subtitle {
        margin-bottom: rem(36px);
        width: rem(456px);
        letter-spacing: .003em;
        text-align: left;
    }
    &__btn {
        margin-left: rem(100px);
        padding: rem(15px) rem(20px) rem(16px);
        border-radius: rem(10px);
        background: rgba(black, .2);
        color: white;
        font-family: 'Geometria';
        font-size: rem(18px);
        box-shadow: 0 0 rem(15px) rem(10px) rgba(#e53656, .2), 0 0 rem(7px) rem(2px) rgba(#9d5e9a, .2);
        animation-name: indbtn;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        &:hover {
            background: rgba($red, .2);
            color: white;
        }
    }
}

@keyframes indbtn {
    0% {
        box-shadow: 0 0 rem(15px) rem(10px) rgba(#e53656, .2), 0 0 rem(7px) rem(2px) rgba(#9d5e9a, .2);
    }
    25% {
        box-shadow: 0 0 rem(7px) rem(2px) rgba(#e53656, .2), 0 0 rem(15px) rem(10px) rgba(#9d5e9a, .2);
    }
    60% {
        box-shadow: 0 0 rem(15px) rem(10px) rgba(#e53656, .2), 0 0 rem(7px) rem(2px) rgba(#9d5e9a, .2);
    }
    75% {
        box-shadow: 0 0 rem(15px) rem(10px) rgba(#e53656, .2), 0 0 rem(20px) rem(12px) rgba(#9d5e9a, .2);
    }
}