.projects {
    padding: 0 rem(20px);
    &-carousel {
        @extend %list;
        margin-top: rem(35px);
        margin-left: rem(-132px); // temp!
        margin-bottom: rem(14px);
        &-item {
            display: inline-block;
            margin: 0 rem(49px);
            position: relative;
            opacity: .15;
            &.active {
                opacity: 1;
                .projects-carousel__count {
                    display: block;
                }
            }
        }
        &__link {
            @extend .title;
            color: white;
        }
        &__count {
            color: #e63554;
            font-family: 'GilroyExtraBold';
            font-size: rem(18px);
            position: absolute;
            top: rem(30px);
            right: rem(-40px);
            display: none;
        }
    }
    &-list {
        margin: 0 auto;
        @extend %list;
        color: white;
    }
    &-item {
        height: rem(100px);
        transition: $transition;
        overflow: hidden;
        position: relative;
        display: flex;
        &.active {
            height: rem(200px);
            .projects {
                &__text {
                    display: block;
                }
                &-meta {
                    display: block;
                }
                &-help {
                    display: block;
                }
            }
        }
    }
    &-dropdown {
        text-align: right;
    }
    &-logo {
        width: rem(100px);
        height: 100%;
        flex-shrink: 0;
    }
    &-pic {
        height: 100%;
        width: rem(400px);
        flex-shrink: 0;
        position: relative;
        overflow: hidden;
    }
    &__img {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    &-details {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(#d8d8d8, .5);
        padding: rem(9px) 0 rem(10px) rem(50px);
        height: 100%;
        width: 100%;
    }
    &-desc {
        width: rem(600px);
        padding-top: rem(2px);
    }
    &__date {
        font-size: rem(12px);
        color: $lightblue;
        margin-bottom: rem(19px);
        letter-spacing: 0.03em;
    }
    &__title {
        font-family: 'GeometriaExtraBold';
        font-size: rem(18px);
        margin-bottom: rem(9px);
    }
    &__text {
        margin-bottom: rem(16px);
        padding-left: rem(1px);
        display: none;
    }
    &-meta {
        color: #b4c4d8;
        opacity: .5;
        display: none;
        &__number {
            font-size: rem(18px);
            margin: 0 rem(5px) 0 rem(2px);
        }
    }
    &-help {
        display: none;
        flex-shrink: 0;
        flex-grow: 0;
        &-list {
            @extend %list;
            height: 100%;
        }
        &-item {
            margin-top: rem(20px);
            position: relative;
            &:first-child {
                margin-top: 0;
            }
            &:hover {
                .projects-help__name {
                    opacity: 1;
                }
            }
        }
        &-icon {
            background: #9c5d9a;
            border-radius: rem(5px);
            width: rem(30px);
            height: rem(30px);
            display: inline-block;
            text-align: center;
            font-size: rem(18px);
            vertical-align: middle;
            &:before {
                display: inline-block;
                content: '';
                height: 100%;
                width: 0;
                vertical-align: middle;
            }
        }
        &__name {
            display: inline-block;
            position: absolute;
            right: 0;
            padding: rem(2px) rem(40px) rem(2px) rem(2px);
            top: 50%;
            transform: translateY(-50%);
            font-size: rem(12px);
            color: $lightblue;
            text-align: right;
            vertical-align: middle;
            transition: $transition;
            font-family: 'Gilroy';
            line-height: 1.2;
            opacity: 0;
        }
    }
}