.projects-more
    a(href="#").projects-more__btn
            | Показати ще 
            span.projects-more__count
                span.projects-more__number 6
                |  з 
                span.projects-more__number 18