.projects-filter-wrap
    form.projects-filter
        button(type="button").projects-filter__toggle Види допомоги
            span.icon.icon-arrow-down
        .projects-filter-dropdown
            ul.projects-filter-list
                each filter in [{name:'Зробити',id:'work'},{name:'Фінансова допомога',id:'financial'},{name:'Матеріальна допомога',id:'material'},{name:'Волонтерство',id:'volonteer'}]
                    li
                        input(type="checkbox" id=filter.id).projects-filter__checkbox
                        label(for=filter.id).projects-filter__label
                            span.projects-filter__filtername #{filter.name}
            .projects-filter-bottom
                button(type="button").projects-filter__btn Показати