ul.socials-list
    li.socials-item
        a(href="#").socials__link.icon.icon-soc-twitter
    li.socials-item
        a(href="#").socials__link.icon.icon-soc-facebook
    li.socials-item
        a(href="#").socials__link.icon.icon-soc-vkontakte