ul.socials-list
    li.socials-item
        a(href="#").icon.icon-soc-twitter
    li.socials-item
        a(href="#").icon.icon-soc-facebook
    li.socials-item
        a(href="#").icon.icon-soc-vkontakte