block variables

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        if title
            title Добре Серце: #{title}
        else
            title Добре Серце
        script(src="./js/libs.min.js")
        script(src="./js/main.js")
        link(rel="stylesheet",href="./css/libs.min.css")
        link(rel="stylesheet", href="./css/main.css")
    body(class=bodyClass)
        if modalReg
            include ./blocks/form-person.pug
            include ./blocks/form-jur.pug
        if modalHelp
            include ./blocks/help.pug
        if modalInfo
            include ./blocks/info.pug
        .wrapper
            block page