include ../mixins/form-tabs.pug
include ../mixins/form-radio.pug
include ../mixins/form-group.pug

block modalVariables

- var cls = 'modal-wrap'
if (modalMod)
    - cls += ' modal-wrap_' + modalMod
section.modal(id=modalId)
    div(class=cls)
        .modal-window
            a(href="#").modal__close
                span.icon.icon-close
            block modal