include ../mixins/form-tabs.pug
include ../mixins/form-radio.pug
include ../mixins/form-group.pug

block modalVariables

- var cls = 'modal-wrap'
if (modalSmall)
    - cls += ' modal-wrap_small'

.modal(id=modalId)
    div(class=cls)
        a(href="#" onclick="closeModal(event)").modal__close
            span.icon.icon-close
        if modalForm
            form.modal-window
                block modal
        else
            .modal-window
                block modal