include ../mixins/form-tabs.pug
include ../mixins/form-radio.pug
include ../mixins/form-group.pug

block modalVariables

- var cls = 'modal-wrap'
if (modalSmall)
    - cls += ' modal-wrap_small'

.modal(id=modalId)
    div(class=cls)
        a(href="#").modal__close
            span.icon.icon-close
        .modal-window
            block modal