.projects {
    &-carousel {
        @extend %list;
        li {
            display: inline-block;
            position: relative;
            margin-right: rem(100px);
            .title {
                @extend .title;
                opacity: .15;
                color: white;
                &:hover {
                    opacity: .75;
                }
            }
            &.active {
                .title {
                    opacity: 1;
                }
                .projects-carousel__count {
                    display: block;
                }
            }
        }
        &__count {
            color: $red;
            font-family: 'GilroyExtraBold';
            font-size: rem(18px);
            position: absolute;
            top: rem(30px);
            right: rem(-40px);
            display: none;
        }
        &-wrap {
            margin-top: rem(39px);
            margin-bottom: rem(13px);
        }
    }
    &-categories {
        @extend %list;
        &>li {
            display: none;
            &.active {
                display: block;
            }
        }
    }
}