.projects {
    &-list {
        margin: 0 auto;
        @extend %list;
        color: white;
    }
    &-dropdown {
        text-align: right;
    }
    &-content {
        padding: 0 rem(50px);
    }
}

@import './projects-carousel.scss';
@import './projects-help.scss';
@import './projects-item.scss';
@import './projects-filter.scss';