.projects {
    padding: 0 rem(20px);
    &-list {
        margin: 0 auto;
        @extend %list;
        color: white; // animation-name: projects-in;
        // animation-duration: 400ms;
    }
    &-dropdown {
        text-align: right;
    }
}

@import './projects-carousel.scss';
@import './projects-help.scss';
@import './projects-item.scss';