.projects {
    &-item {
        padding-left: rem(100px);
        height: rem(100px);
        transition: $transition;
        overflow: hidden;
        position: relative;
        display: flex;
        cursor: pointer;
        &.active {
            cursor: inherit;
            height: rem(200px);
            .projects {
                &__text {
                    display: block;
                }
                &-meta {
                    display: block;
                }
                &-help {
                    display: block;
                }
            }
        }
    }
    &-pic {
        height: 100%;
        width: rem(400px);
        flex-shrink: 0;
        position: relative;
        overflow: hidden;
        &__warning {
            position: absolute;
            z-index: 1;
            border-radius: rem(5px);
            left: rem(10px);
            bottom: rem(10px);
            background-image: linear-gradient(to left, #6082d7, #e73453);
            font-family: 'GeometriaExtraBold';
            font-size: rem(14px);
            padding: rem(4px);
        }
        &__video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: rem(60px);
        }
        img {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
    &__logo {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: rem(100px);
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &-details {
        border-bottom: rem(1px) solid rgba(#d8d8d8, .5);
        padding: rem(9px) 0 rem(10px) rem(50px);
        height: 100%;
        width: 100%;
    }
    &-desc {
        width: rem(600px);
        padding-top: rem(2px);
    }
    &__date {
        font-size: rem(12px);
        color: $lightblue;
        margin-bottom: rem(19px);
        letter-spacing: 0.03em;
    }
    &__title {
        font-family: 'GeometriaExtraBold';
        font-size: rem(18px);
        margin-bottom: rem(9px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__text {
        margin-bottom: rem(16px);
        padding-left: rem(1px);
        display: none;
        height: rem(80px);
        overflow: hidden;
    }
    &-meta {
        color: #b4c4d8;
        opacity: .5;
        display: none;
        &__number {
            font-size: rem(18px);
            margin: 0 rem(5px) 0 rem(2px);
        }
        &-details {
            display: inline-block;
            padding: 0 rem(10px);
            margin: 0 rem(5px);
        }
        &__dot {
            display: inline-block;
            vertical-align: middle;
            margin: 0 rem(2.5px);
            width: rem(5px);
            height: rem(5px);
            border-radius: 50%;
            background: rgba($lightblue, .5);
        }
    }
    &-more {
        margin: rem(60px) 0 rem(30px);
        &__btn {
            display: block;
            margin: 0 auto;
            padding: rem(18.5px) rem(15px);
            border-radius: rem(10px);
            width: rem(600px);
            background: rgba(black, .2);
            text-align: center;
            color: white;
            font-size: rem(18px);
            font-family: 'GeometriaExtraBold';
            &:hover {
                background: rgba(white, .2);
                color: white;
            }
        }
    }
}

@keyframes projectsIn {
    0% {
        transform: scale(.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes projectsOut {
    100% {
        transform: scale(.9);
        opacity: 0;
    }
}