.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Geometria';
    &__heart {
        font-size: rem(36px);
    }
    &-lang {
        letter-spacing: rem(-1px);
        &-list {
            @extend %list;
        }
        &-item {
            display: inline-block;
            margin-right: rem(8px);
            &:last-child {
                margin-right: 0;
            }
        }
        &__link {
            color: $lightblue;
            opacity: .5;
            &:hover,
            &_active {
                color: $lightblue;
                opacity: 1;
            }
        }
    }
    &-nav {
        &-list {
            @extend %list;
        }
        &-item {
            display: inline-block;
        }
        &__link {
            font-family: 'GeometriaExtraBold';
            font-size: rem(14px);
            opacity: 1;
            display: block;
            color: #c5d5e6;
            border-radius: rem(5px);
            margin: 0 rem(13.5px);
            &.active {
                padding: rem(7px) rem(21px);
                background: rgba(black, .2);
                margin: 0 rem(-7.5px);
            }
            &.accent {
                background: linear-gradient(to left, #6082d7, #e73453);
                color: white;
                margin: rem(14px);
                padding: rem(7px) rem(21px);
            }
        }
    }
    &-search {
        &__toggle {
            font-size: rem(18px);
            &:hover {
                opacity: .5;
            }
        }
    }
    &-auth {
        &__link {
            color: $lightblue;
            opacity: .5;
            &:hover,
            &_active {
                color: $lightblue;
                opacity: 1;
            }
        }
    }
}